
.topBox{
    background-image: url("../img/矩形1.png");
    width:100%;
    height: 3.76rem;
    display:flex;
    padding-top: 0.4rem;
    padding-left: 0.24rem;
    padding-right: 0.24rem;
    box-sizing: border-box;
    flex-direction: column;
}
.topBox i{
    display: block;
    width: 0.45rem;
    height: 0.45rem;
    margin-top: 0.28rem;
    margin-bottom: 0.28rem;
    color: white;
}
.topBox .dizhi{
    flex-grow: 1;
    /*background: red;*/
}
.topBox .dizhi .dingdan{
    width: 100%;
    height: 0.18rem;
    /*background: blueviolet;*/
    display: block;
    margin-bottom: 0.25rem;
    font-size: 0.18rem;
    color: white;
}
.topBox .dizhi .kaitong{
    width: 100%;
    height: 0.27rem;
    /*background: blueviolet;*/
    display:flex;
    justify-content: space-between;
    font-size: 0.27rem;
    margin-bottom: 0.24rem;
    color: white;
}
.topBox .dizhi .kaitong i{
    display: block;
    margin: 0;
}
.topBox .dizhi .renming{
    width: 100%;
    height: 0.2rem;
    /*background: blueviolet;*/
    display: block;
    font-size: 0.2rem;
    margin-bottom: 0.42rem;
    color: white;
}
.topBox .dizhi .info{
    width: 100%;
    height: 2.33rem;
    /*background: aqua;*/
    border-radius: 0.2rem;
    padding-left: 0.22rem;
    padding-right: 0.22rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background: white;
    border:0.02rem solid blue;
}
.topBox .dizhi .info .shang{
    flex-grow: 1;
    /*background: blue;*/
    border-bottom: 0.02rem solid gray;
    font-size: 0.24rem;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.topBox .dizhi .info .shang i{
    color: black;
}
.topBox .dizhi .info .time{
    display: flex;
}
.topBox .dizhi .info .shang i{
    margin: 0;
    display: block;
}
.topBox .dizhi .info .xia{
    flex-grow: 1;
    /*background: red;*/
    font-size: 0.24rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.topBox .dizhi .info .xia .fangshi{
    display:flex;
}
.topBox .dizhi .info .xia .fangshi i{
    margin: 0;
    display: block;
    color: black;
}
.zhezhao{
    width: 100%;
    height: 5rem;
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
}
.xiazhiwen{
    width: 100%;
    height: 7.68rem;
    /*background: red;*/
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
}
.xiazhiwen .name{
    width: 100%;
    height: 0.5rem;
    /*background: blue;*/
    font-size: 0.5rem;
    text-align: center;
    line-height: 0.5rem;
    margin-bottom: 0.2rem;
}
.xiazhiwen .pinyin{
    width: 100%;
    height: 0.5rem;
    /*background: blue;*/
    font-size: 0.3rem;
    text-align: center;
    line-height: 0.5rem;
    border-bottom:0.02rem solid gray;
}
.xiazhiwen .qian{
    flex-grow: 1;
    /*background: green;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 0.5rem;
    color: #f1127b;
}
.xiazhiwen .qian .boxs{
    width: 100%;
    height: 0.5rem;
    /*background: #f1127b;*/
    display: flex;
    justify-content: space-around;
    font-size: 0.3rem;
}
.xiazhiwen .qian .boxs .shouye{
    width: 1.88rem;
    height: 0.5rem;
    background: gray;
    border-radius: 0.1rem;
    text-align:center;
    line-height: 0.5rem;
    color: white;
}
.xiazhiwen .qian .boxs .jixu{
    width: 1.88rem;
    height: 0.5rem;
    background: #f112d4;
    border-radius: 0.1rem;
    text-align:center;
    line-height: 0.5rem;
    color: white;
}
